@media screen and (max-width:1402px) {
    .navleft ul {
        display: flex;
        flex-direction: column;
    }

    .navleft ul li {
        list-style: none;
        font-size: 0px;
        padding: 0px;
    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .container5 {
        width: 100%;
        height: 52vh;
    }

    footer {
        width: 100%;
        height: 78vh;
    }
}

@media screen and (max-width:992px) and (min-width:768px) {
    .navleft {
        width: 50%;
        height: 80px;
    }

    .navleft .logo img {
        width: 51px;
        padding: 0px 0px 0 42px;
    }

    .navright {
        width: 50%;
        height: 80px;
    }

    .SidebarIconToggle {
        top: 31px;
        right: 36px;
    }

    .navright .search img {
        padding: 0 96px 0 0;
    }

    .siderbarMenu{
        margin-top: 80px;
    }

    .container3 img {
        width: 100%;
        position: relative;
    }

    .container3 {
        width: 100%;
        height: 130vh;
        margin-top: 26px;
    }

    .container3 {
        width: 100%;
        height: 139vh;
    }

    .container3 .text2 {
        width: 80%;
        height: 70%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin-left: 0px;
    }

    .container5 {
        width: 100%;
        height: 40vh;
    }

    footer {
        width: 100%;
        height: 88vh;
    }

    .hfont {
        font-size: 59px;
    }

}

@media screen and (max-width:768px) and (min-width:576px) {
    .navleft {
        width: 50%;
        height: 70px;
    }

    .navleft .logo img {
        width: 49px;
        padding: 0px 0px 0 35px;
    }

    .navright {
        width: 50%;
        height: 70px;
    }

    .SidebarIconToggle {
        top: 27px;
        right: 32px;
    }

    .navright .search img {
        padding: 0 88px 0 0;
    }

    .siderbarMenu{
        margin-top: 70px;
    }

    .hfont {
        font-size: 56px;
    }

    .container2 {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        position: relative;
    }

    .container2 img {
        width: 100%;
    }

    .container2 .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 23px;
    }

    .container3 img {
        width: 100%;
        position: relative;
    }

    .container3 .text2 {
        margin-left: 0px;
    }

    .container3 {
        width: 100%;
        height: 159vh;
    }

    .container2 .text {
        width: 89%;
    }

    .container5 {
        flex-direction: column;
        margin-top: 50px;
    }

    .container5 .image {
        display: inline-block;
        width: 100%;
    }

    .container5 .subtext {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container5 .subtext .text {
        margin-top: 100px;
    }

    .container5 {
        width: 100%;
        height: 122vh;
    }

    footer {
        width: 100%;
        height: 125vh;
    }

    .container4 {
        width: 100%;
        height: 50vh;
    }

}

@media screen and (max-width:576px) and (min-width:0px) {
    .navleft {
        width: 50%;
        height: 60px;
    }

    .navleft .logo img {
        width: 43px;
        padding: 0px 0px 0 29px;
    }

    .navright {
        width: 50%;
        height: 60px;
    }

    .SidebarIconToggle {
        top: 20px;
        right: 26px;
    }

    .navright .search img {
        width: 28px;
        cursor: pointer;
        padding: 0 81px 0 0;
    }

    .siderbarMenu{
        margin-top: 60px;
    }

    .hfont {
        font-size: 53px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .container2 img {
        width: 100%;
    }

    .container2 .text {
        width: 100%;
        margin: 20px;
    }

    .container2 {
        width: 100%;
        height: 77vh;
    }

    .container3 img {
        width: 100%;
        position: relative;
    }

    .container3 .text2 {
        margin-left: 0px;
    }

    .container3 .text2 h2 {
        margin-right: 0px;
    }

    .container3 {
        width: 100%;
        height: 148vh;
    }

    .container4 {
        width: 100%;
        height: 46vh;
    }

    .container2 .text {
        width: 79%;
    }

    .container5 {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .container5 .image {
        display: inline-block;
        width: 100%;
    }

    .container5 .subtext {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container5 .subtext .text {
        margin-top: 66px;
    }

    .container5 .subtext .text h1 {
        font-size: 42px;
    }

    .container5 {
        width: 100%;
        height: 84vh;
    }

    footer {
        width: 100%;
        height: 183vh;
    }
    
}