@media screen and (max-width:1402px) {
    .navleft ul {
        display: flex;
        flex-direction: column;
    }

    .navleft ul li {
        list-style: none;
        font-size: 0px;
        padding: 0px;
    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .container {
        width: 100%;
        height: 62vh;
    }

    #display {
        font-size: 21px;
    }

    .hfont {
        font-size: 60px;
    }

    .slider {
        width: 100%;
    }

    .btn button {
        width: 44px;
        height: 45px;
        font-size: 16px;
    }

    .content h2 {
        font-size: 60px;
    }

    .container3 {
        height: 74vh;
    }

    .confifont {
        font-size: 32px;
    }

    .subcontainer3 h2 {
        font-size: 57px;
        line-height: 58px;
    }

    .container4 {
        width: 100%;
        height: 71vh;
    }

    .dealfont {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        line-height: 53px;
    }

    .subcontainer4 h2 {
        font-size: 51px;
        line-height: 55px;
    }

    .subcontainer5 h1 {
        font-size: 65px;
    }

    .subcontainer5 img {
        width: 100%;
        height: 56vh;
    }

    .automobile h2 {
        font-size: 25px;
    }

    .container5 {
        width: 100%;
        height: 116vh;
    }

    .container6 .card img {
        width: 45%;
        height: 88%;
    }

    .container6 {
        width: 100%;
        height: 81vh;
    }

    .subfooter1 {
        width: 100%;
        height: 20%;
    }

    .subfooter2{
        height: 80%;
    }
}

@media screen and (max-width:992px) and (min-width:768px) {
    .navleft {
        width: 50%;
        height: 80px;
    }

    .navleft .logo img {
        width: 51px;
        padding: 0px 0px 0 42px;
    }

    .navright {
        width: 50%;
        height: 80px;
    }

    .SidebarIconToggle {
        top: 31px;
        right: 36px;
    }

    .navright .search img {
        padding: 0 96px 0 0;
    }

    .siderbarMenu{
        margin-top: 80px;
    }

    .container {
        height: 61vh;
    }

    #display {
        font-size: 19px;
    }

    .hfont {
        font-size: 55px;
    }

    .slider {
        width: 100%;
        height: 63vh;
    }

    .mfont {
        font-size: 25px;
    }

    .btn button {
        width: 41px;
        height: 41px;
        font-size: 13px;
    }

    .content h2 {
        font-size: 53px;
    }

    .container2 {
        height: 63vh;
    }

    .container3 {
        height: 64vh;
    }

    .confifont {
        font-size: 29px;
    }

    .subcontainer3 h2 {
        font-size: 46px;
        line-height: 43px;
    }

    .container4 {
        height: 65vh;
    }

    .dealfont {
        font-size: 26px;
    }

    .subcontainer4 h2 {
        font-size: 46px;
        line-height: 48px;
    }

    .subcontainer5 h1 {
        font-size: 50px;
    }

    .subcontainer5 img {
        width: 100%;
        height: 59vh;
    }

    .subcontainer5 h3 {
        font-size: 14px;
    }

    .automobile h2 {
        font-size: 16px;
    }

    .container5 {
        width: 100%;
        height: 113vh;
    }

    .container6 .card {
        height: 54vh;
        display: flex;
        flex-direction: column;
    }

    .container6 .card img {
        width: 100%;
    }

    .container6 {
        height: 105vh;
    }

    .container6 .card .text h6 {
        margin-top: 30px;
    }

    .subfooter1 {
        width: 100%;
        height: 34%;
    }

    .subfooter2 {
        width: 100%;
        height: 66%;
    }

    .container6 .card .text button {
        float: right;
        margin: 0 17px;
    }

}

@media screen and (max-width:768px) and (min-width:576px) {
    .navleft {
        width: 50%;
        height: 70px;
    }

    .navleft .logo img {
        width: 49px;
        padding: 0px 0px 0 35px;
    }

    .navright {
        width: 50%;
        height: 70px;
    }

    .SidebarIconToggle {
        top: 27px;
        right: 32px;
    }

    .navright .search img {
        padding: 0 88px 0 0;
    }

    .siderbarMenu{
        margin-top: 70px;
    }

    .container {
        height: 65vh;
    }

    #display {
        font-size: 16px;
    }

    .hfont {
        font-size: 46px;
    }

    .slider {
        width: 100%;
        height: 65vh;
    }

    .mfont {
        color: white;
        font-size: 18px;
    }

    .btn button {
        width: 38px;
        height: 38px;
        font-size: 13px;
        margin: 23px 4px 23px 0;
    }

    .content h2 {
        color: white;
        font-size: 40px;
    }

    .container2 {
        width: 100%;
        height: 65vh;
    }

    .container3 {
        width: 100%;
        height: 65vh;
    }

    .confifont {
        font-size: 22px;
    }

    .subcontainer3 h2 {
        font-size: 38px;
        line-height: 37px;
    }

    .container4 {
        width: 100%;
        height: 65vh;
    }

    .dealfont {
        font-size: 22px;
    }

    .subcontainer4 h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .subcontainer5 h2 {
        font-size: 24px;
    }

    .subcontainer5 h1 {
        font-size: 56px;
    }

    .subcontainer5 img {
        width: 100%;
        height: 39vh;
    }

    .subcontainer5 h3 {
        font-size: 15px;
    }

    .subcontainer5 h2 {
        font-size: 14px;
    }

    .subcontainer5 h6 {
        font-size: 14px;
    }

    .container5 {
        width: 100%;
        height: 100vh;
    }

    .container6 .card {
        width: 80%;
        height: 35vh;
        display: flex;
        margin-bottom: 40px;
        position: relative;
        flex-direction: column;
    }

    .container6 {
        width: 100%;
        height: 121vh;
    }

    .container6 .card {
        width: 80%;
        height: 63vh;
        display: flex;
        margin-bottom: 40px;
        position: relative;
        flex-direction: column;
    }

    .container6 .card img {
        width: 100%;
    }

    .container6 .card .text h6 {
        margin-top: 30px;
      }

      .container6 .card .text h2 {
        font-size: 31px;
      }

      .container6 .card .text button {
        float: right;
      }

      .subfooter1 {
        height: 20%;
      }
      
      .subfooter2 {
        height: 80%;
      }

      .textf h4 {
        padding: 27px 0 0 60px;
        word-spacing: 13px;
        line-height: 27px;
      }

      .subfooter2 h5 {
        padding: 12px 0 0 60px;
        line-height: 26px;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
      }

      .fimg {
        display: flex;
        padding: 40px 24px 0 0;
      }

}

@media screen and (max-width:576px) and (min-width:0px) {
    .navleft {
        width: 50%;
        height: 60px;
    }

    .navleft .logo img {
        width: 43px;
        padding: 0px 0px 0 29px;
    }

    .navright {
        width: 50%;
        height: 60px;
    }

    .SidebarIconToggle {
        top: 20px;
        right: 26px;
    }

    .navright .search img {
        width: 28px;
        cursor: pointer;
        padding: 0 81px 0 0;
    }

    .siderbarMenu{
        margin-top: 60px;
    }

    .container {
        width: 100%;
        height: 65vh;
    }

    #display {
        font-size: 20px;
    }

    .hfont {
        font-size: 58px;
    }

    .mfont {
        color: white;
        font-size: 25px;
    }

    .btn button {
        width: 39px;
        height: 39px;
        border: 1px solid white;
        border-radius: 50%;
        font-size: 14px;
        margin: 23px 20px 23px 0;
    }

    .slider {
        width: 100%;
        height: 54vh;
    }

    .content h2 {
        color: white;
        font-size: 53px;
    }

    .container2 {
        width: 100%;
        height: 54vh;
    }

    .container3 {
        width: 100%;
        height: 66vh;
    }

    .confifont {
        font-size: 25px;
    }

    .subcontainer3 h2 {
        font-size: 44px;
        line-height: 47px;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subcontainer3 {
        width: 80%;
        margin: top;
        color: black;
        margin-top: 100px;
    }

    .container4 {
        width: 100%;
        height: 66vh;
    }

    .dealfont {
        font-size: 25px;
    }

    .subcontainer4 h2 {
        font-size: 33px;
        line-height: 39px;
    }

    .subcontainer5 h2 {
        font-size: 21px;
        padding: 55px 0 20px 0;
    }

    .subcontainer5 h1 {
        font-size: 44px;
    }

    .subcontainer5 img {
        width: 100%;
        height: 26vh;
    }

    .subcontainer5 h3 {
        font-size: 15px;
    }

    .automobile {
        display: flex;
        flex-direction: column;
    }

    .subcontainer5 h6 {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px 0px;
    }

    .container5 {
        width: 100%;
        height: 101vh;
    }

    .container6 .card {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .container6 .card {
        width: 80%;
        height: 55vh;
    }

    .container6 {
        width: 100%;
        height: 119vh;
    }

    .container6 .card img {
        width: 100%;
    }

    .container6 .card .text h6 {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 30px;
    }

    .container6 .card .text button {
        float: right;
    }

    .subfooter1 {
        width: 100%;
        height: 20%;
    }
    
    .subfooter2 {
        width: 100%;
        height: 80%;
    }

    .textf {
        display: flex;
        flex-direction: column;
    }

    .fimg {
        display: flex;
        justify-content: center;
    }

    .textf h4 {
        padding: 16px 0 0 22px;
        word-spacing: 20px;
        line-height: 32px;
        font-size: 17px;
    }

    .subfooter2 h5 {
        padding: 23px 0 0 31px;
        line-height: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
    }

    footer {
        width: 100%;
        height: 114vh;
    }


}